.company-visual {
  position: relative;
  width: 100%;
  height: calc(100vh + 1000px);
  box-sizing: border-box;
}

.company-visual .item-sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
}

.company-visual .page-headline, .company-visual .page-title {
  color: #fff;
}

.company-visual .lang-btns {
  display: flex;
  margin-top: 32px;
  gap: 0 8px;
}

.company-visual .lang-btns > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  box-sizing: border-box;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 32px;
  padding: 0 32px;
  font-size: 20px;
  font-weight: 700;
}

.company-visual .lang-btns > a.actived {
  color: #000;
  background: #fff;
}

.company-visual .inner {
  padding-top: 169px;
  z-index: 5;
}

.company-visual .background-visual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.company-visual .background-visual .obj {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.company-visual .background-visual img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.company-visual .page-history {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
}

.company-visual .item-info {
  position: relative;
  padding-top: 71px;
}

.company-visual .item-info .txt + .txt {
  margin-top: 43px;
}

.company-visual .item-info .txt {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 700;
}

.company-visual .item-info .txt .sentence {
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.2s ease;
}

.company-visual .item-info .txt.actived .sentence {
  color: rgb(255, 255, 255);
}

.company-visual .page-scroll-down {
  display: none;
}

.company-visual .page-scroll-down .obj {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.company-visual .lang-btns {
  transform: translate(0px, 40px);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.company-visual .page-headline {
  transform: translate(0px, 40px);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.company-visual .item-info .txt {
  transform: translate(0px, 40px);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.company-visual .background-visual {
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.company-visual .background-visual img {
  transform: scale(1.2);
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

@media screen and (min-height: 960px) {
  .company-visual .item-info {
    padding-top: 100px;
  }
  .company-visual .page-headline {
    margin-top: 72px;
  }
}
@media screen and (min-height: 1040px) {
  .company-visual .item-info {
    padding-top: 130px;
  }
  .company-visual .page-headline {
    margin-top: 102px;
  }
}
.company-wrap.actived .company-visual .background-visual {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.company-wrap.actived .company-visual .background-visual img {
  transform: scale(1);
}

.company-wrap.actived .company-visual .page-headline {
  transform: translate(0px, 0px);
  opacity: 1;
  transition-delay: 0.5s;
}

.company-wrap.actived .company-visual .lang-btns {
  transform: translate(0px, 0px);
  opacity: 1;
  transition-delay: 0.6s;
}

.company-wrap.actived .company-visual .item-info .txt {
  transform: translate(0px, 0px);
  opacity: 1;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(1) {
  transition-delay: 0.6s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(2) {
  transition-delay: 0.7s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(3) {
  transition-delay: 0.8s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(4) {
  transition-delay: 0.9s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(5) {
  transition-delay: 1s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(6) {
  transition-delay: 1.1s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(7) {
  transition-delay: 1.2s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(8) {
  transition-delay: 1.3s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(9) {
  transition-delay: 1.4s;
}

.company-wrap.actived .company-visual .item-info .txt:nth-child(10) {
  transition-delay: 1.5s;
}

.company-wrap.actived .company-visual .page-scroll-down .obj {
  opacity: 1;
  transition-delay: 1s;
}

.company-value {
  position: relative;
  padding: 120px 0 120px 0;
  z-index: 15;
  background: #fff;
}

.company-value .headline .cate {
  font-size: 24px;
  color: #71717A;
  font-weight: 700;
  line-height: 1.2;
}

.company-value .headline .title {
  margin-top: 32px;
  font-size: 56px;
  color: #18181B;
  font-weight: 700;
  line-height: 1.2;
}

.company-value .headline .btns {
  margin-top: 46px;
}

.company-value .headline .item-desc {
  padding-top: 240px;
}

.company-value .headline .txt-group + .txt-group {
  margin-top: 40px;
}

.company-value .headline .txt + .txt {
  margin-top: 8px;
}

.company-value .headline .txt + .txt {
  margin-top: 8px;
}

.company-value .headline .txt-group .txt {
  font-size: 20px;
  color: #71717A;
  font-weight: 700;
  line-height: 1.8;
}

.company-value .headline .txt-group .txt strong {
  color: #000;
}

.company-value .point-list {
  margin-top: 148px;
}

.company-value .grid-layout-cell:nth-child(1) .parallax-items {
  width: 360px;
}

.company-value .grid-layout-cell:nth-child(1) .parallax-children {
  width: 360px;
  height: 519px;
}

.company-value .grid-layout-cell:nth-child(2) .point-items {
  margin-top: 257px;
}

.company-value .grid-layout-cell:nth-child(2) .parallax-items {
  width: 552px;
}

.company-value .grid-layout-cell:nth-child(2) .parallax-children {
  width: 552px;
  height: 552px;
}

.company-value .grid-layout-cell:nth-child(3) .point-items {
  margin-top: 184px;
}

.company-value .grid-layout-cell:nth-child(3) .parallax-items {
  width: 840px;
}

.company-value .grid-layout-cell:nth-child(3) .parallax-children {
  width: 840px;
  height: 560px;
}

.company-value .item-info {
  margin-top: 40px;
}

.company-value .item-subject {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #18181B;
}

.company-value .item-desc {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #52525B;
}

.company-value .effect-data .effect-items {
  transform: none;
}

.parallax-items {
  position: relative;
}

.parallax-parents {
  position: relative;
  transition: var(--smooth-transform-transition);
}

.parallax-children {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallax-children > img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  object-fit: cover;
  position: relative;
  transition: var(--smooth-transform-transition);
}

.company-vision {
  position: relative;
  padding: 120px 0 200px 0;
  z-index: 15;
  background: #fff;
}

.company-vision .title {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.company-vision .item-info {
  margin-top: 40px;
}

.company-vision .item-subject {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #18181B;
}

.company-vision .item-desc {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #52525B;
}

.company-vision .point-list {
  margin-top: 120px;
}

.company-vision .point-list-cell {
  display: flex;
}

.company-vision .point-list-cell + .point-list-cell {
  margin-top: 120px;
}

.company-vision .point-list-cell:nth-child(1) {
  justify-content: flex-end;
}

.company-vision .point-list-cell:nth-child(2) {
  justify-content: flex-start;
}

.company-vision .point-list-cell:nth-child(1) .point-items {
  width: 552px;
}

.company-vision .point-list-cell:nth-child(1) .parallax-children {
  width: 552px;
  height: 552px;
}

.company-vision .point-list-cell:nth-child(2) .point-items {
  width: 840px;
}

.company-vision .point-list-cell:nth-child(2) .parallax-children {
  width: 840px;
  height: 560px;
}

.company-vision .effect-data .effect-items {
  transform: none;
}

.company-history {
  position: relative;
  background: #fff;
  z-index: 15;
}

.company-history .headline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 120px;
  z-index: 5;
}

.company-history .headline .cate {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  line-height: 1.2;
}

.company-history .headline .title {
  margin-top: 32px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}

.company-history .tab-nav {
  position: absolute;
  top: 403px;
  left: 0;
  width: 100%;
  min-height: 172px;
}

.company-history .tab-nav-inner {
  position: relative;
  padding-top: 92px;
  z-index: 50;
}

.company-history .tab-nav.fix .tab-nav-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.company-history .tab-nav.fix .btn-history-tab-nav {
  font-size: 32px;
  height: 70px;
}

.company-history .tab-nav .inner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0 48px;
}

.company-history .btn-history-tab-nav {
  position: relative;
  display: inline-flex;
  height: 80px;
  white-space: nowrap;
  align-items: center;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.2s ease, font 0.2s ease, height 0.2s ease;
}

.company-history .btn-history-tab-nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.company-history .btn-history-tab-nav.actived {
  color: rgb(255, 255, 255);
}

.company-history .btn-history-tab-nav.actived:after {
  opacity: 1;
}

.company-history .detail {
  position: relative;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  color: #A1A1AA;
  z-index: 15;
  padding-top: 100vh;
}

.company-history .detail:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 2px;
  height: 0%;
  margin-left: -1px;
  background: rgba(255, 255, 255, 0.2);
  transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.company-history.actived .detail:before {
  height: calc(100vh + 260px);
}

.company-history .detail .item-title {
  position: sticky;
  top: 198px;
  left: 0;
  text-align: right;
  font-size: 56px;
  line-height: 1.2;
  font-weight: 800;
  margin-top: -62px;
  color: #fff;
}

.company-history .detail .item-title > em {
  display: block;
  padding-right: 37px;
}

.company-history .detail .item-title span {
  display: block;
}

.company-history .detail .item-title span + span {
  margin-top: 16px;
}

.company-history .detail-data {
  padding: 260px 0 25vh 0;
  max-width: 1128px;
  margin: 0 auto;
  box-sizing: border-box;
}

.company-history .detail-data:last-child {
  padding: 0;
}

.company-history .detail-data:last-child .grid-layout-cell:nth-child(1) {
  padding: 260px 0 25vh 0;
}

.company-history .detail-data:last-child .item-data {
  margin-left: -6px;
  padding: 260px 0 25vh 0;
  overflow: hidden;
}

.company-history .detail-data:last-child .history-item:before {
  left: 0;
}

.company-history .detail-data:last-child .history-item:after {
  left: 5px;
}

.company-history .history-item {
  position: relative;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 48px;
}

.company-history .history-item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -6px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #D9D9D9;
}

.company-history .history-item:after {
  content: "";
  position: absolute;
  top: 29px;
  left: -1px;
  display: block;
  width: 2px;
  height: 0;
  background: Rgba(255, 255, 255, 0.2);
  transition: height 0.4s ease;
}

.company-history .history-item:last-child {
  padding-bottom: 0;
}

.company-history .history-item.actived:after {
  height: calc(100% - 29px);
}

.company-history .history-item.actived:last-child:after {
  height: calc(100% + 260px - 29px + 25vh);
}

.company-history .history-item .item-year {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #E4E4E7;
}

.company-history .history-item .item-list {
  margin-top: 24px;
}

.company-history .history-item .item-list-cell {
  display: flex;
  flex-wrap: wrap;
}

.company-history .history-item .item-list-cell + .item-list-cell {
  margin-top: 12px;
}

.company-history .history-item .item-list-cell .item-month {
  flex: 0 0 auto;
  width: 48px;
  font-weight: 700;
}

.company-history .history-item .item-list-cell .item-txt {
  flex: 1;
  width: 100%;
}

.company-history .history-item .item-list-cell .item-txt .txt + .txt {
  margin-top: 8px;
}

.company-history .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.company-history .background .visual {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.company-history .background .visual-cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.company-history .background .visual-cell.actived {
  opacity: 1;
}

.company-history .background .visual-cell .obj {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.company-history .background .visual-cell img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}