@charset "UTF-8";
.backgroundno {
  background: none !important;
}

.zup {
  z-index: 20;
}

.text-black {
  color: black !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs36 {
  font-size: 36px !important;
}

.fs54 {
  font-size: 54px !important;
}

.fs75 {
  font-size: 75px !important;
}

.fs88 {
  font-size: 88px !important;
}

.fs100 {
  font-size: 100px !important;
}

.mw-none {
  max-width: none !important;
}

.afternone:after,
.beforenone:before {
  display: none !important;
}

.lh-0 {
  line-height: 0 !important;
}

.lh-1 {
  line-height: 0.1 !important;
}

.lh-2 {
  line-height: 0.2 !important;
}

.lh-3 {
  line-height: 0.3 !important;
}

.lh-4 {
  line-height: 0.4 !important;
}

.lh-5 {
  line-height: 0.5 !important;
}

.lh-6 {
  line-height: 0.6 !important;
}

.lh-7 {
  line-height: 0.7 !important;
}

.lh-8 {
  line-height: 0.8 !important;
}

.lh-9 {
  line-height: 0.9 !important;
}

.lh-10 {
  line-height: 1 !important;
}

.lh-11 {
  line-height: 1.1 !important;
}

.lh-12 {
  line-height: 1.2 !important;
}

.lh-13 {
  line-height: 1.3 !important;
}

.lh-14 {
  line-height: 1.4 !important;
}

.lh-15 {
  line-height: 1.5 !important;
}

.lh-16 {
  line-height: 1.6 !important;
}

.lh-17 {
  line-height: 1.7 !important;
}

.lh-18 {
  line-height: 1.8 !important;
}

.lh-19 {
  line-height: 1.9 !important;
}

.lh-20 {
  line-height: 2 !important;
}

.fs-00 {
  font-size: 0em !important;
}

.fs-01 {
  font-size: 0.1em !important;
}

.fs-02 {
  font-size: 0.2em !important;
}

.fs-03 {
  font-size: 0.3em !important;
}

.fs-04 {
  font-size: 0.4em !important;
}

.fs-05 {
  font-size: 0.5em !important;
}

.fs-06 {
  font-size: 0.6em !important;
}

.fs-07 {
  font-size: 0.7em !important;
}

.fs-08 {
  font-size: 0.8em !important;
}

.fs-09 {
  font-size: 0.9em !important;
}

.fs-10 {
  font-size: 1em !important;
}

.fs-11 {
  font-size: 1.1em !important;
}

.fs-12 {
  font-size: 1.2em !important;
}

.fs-13 {
  font-size: 1.3em !important;
}

.fs-14 {
  font-size: 1.4em !important;
}

.fs-15 {
  font-size: 1.5em !important;
}

.fs-16 {
  font-size: 1.6em !important;
}

.fs-17 {
  font-size: 1.7em !important;
}

.fs-18 {
  font-size: 1.8em !important;
}

.fs-19 {
  font-size: 1.9em !important;
}

.fs-20 {
  font-size: 2em !important;
}

.afterslush {
  position: relative;
}
.afterslush.text-black:after {
  background: rgb(161, 161, 161) !important;
}

.afterslush:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.825em;
  margin: auto;
  width: 1px;
  height: 1em;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(25deg);
}

.b_ani_line {
  position: relative;
}

.b_ani_line:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #fff;
  pointer-events: none;
}

#autoplay-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* SVG 밖으로 나가는 부분을 숨김 */
}

.whitecolor {
  color: white !important;
  border-color: white !important;
}
.whitecolor:after {
  background-color: white !important;
}

/* 아이콘 위치 및 크기 조정 */
.icons_pause {
  font-size: 24px;
  color: #000; /* 아이콘 색상 */
  z-index: 2; /* 로딩 애니메이션 위에 위치 */
}

.swiper .main_iconArrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 2px;
  background-color: #fff;
  transition: background-color 0.4s ease;
}
.swiper .main_iconArrow:after, .swiper .main_iconArrow:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -4px;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transform: rotate(134deg);
  transition: background-color 0.4s ease;
}
.swiper .main_iconArrow:after {
  top: 6px;
  left: -4px;
  transform: rotate(-134deg);
}
.swiper .main_btnNext {
  transform: rotate(180deg);
  order: 10;
  position: relative;
  top: 2px;
}
.swiper .main_btnPlay {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.swiper .main_btnPlay:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.swiper .main_btnPlay.icons_play:after {
  border-radius: 3px;
  border-color: transparent transparent transparent #ff5722;
  border-style: solid;
  border-width: 8px 10px;
  margin-left: 12px;
}

.navbar-open .b_ani_line:after {
  animation-name: wani;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.navbar-open li:nth-child(1) .b_ani_line:after {
  animation-delay: 0.3s;
}
.navbar-open li:nth-child(2) .b_ani_line:after {
  animation-delay: 0.6s;
}
.navbar-open li:nth-child(3) .b_ani_line:after {
  animation-delay: 0.9s;
}
.navbar-open li:nth-child(4) .b_ani_line:after {
  animation-delay: 1.2s;
}
.navbar-open li:nth-child(5) .b_ani_line:after {
  animation-delay: 1.5s;
}
.navbar-open li:nth-child(6) .b_ani_line:after {
  animation-delay: 1.8s;
}
.navbar-open li:nth-child(7) .b_ani_line:after {
  animation-delay: 2.1s;
}
.navbar-open li:nth-child(8) .b_ani_line:after {
  animation-delay: 2.4s;
}
.navbar-open li:nth-child(9) .b_ani_line:after {
  animation-delay: 2.7s;
}
.navbar-open li:nth-child(10) .b_ani_line:after {
  animation-delay: 3s;
}

@keyframes wani {
  0% {
    width: 0;
  }
  40% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
body {
  /* Example of how to modify styles when nav is hidden */
  /* Example of how to set styles when nav is visible */
}
body .navbar {
  -webkit-transition: top 0.3s ease-in-out, background 0.3s ease-in-out, min-height 0.3s ease-in-out;
  -moz-transition: top 0.3s ease-in-out, background 0.3s ease-in-out, min-height 0.3s ease-in-out;
  -ms-transition: top 0.3s ease-in-out, background 0.3s ease-in-out, min-height 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, background 0.3s ease-in-out, min-height 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, background 0.3s ease-in-out, min-height 0.3s ease-in-out;
}
body .nav_up {
  top: -100px; /* Adjust as necessary */
  background: rgba(255, 255, 255, 0.9); /* Example background color */
  min-height: 50px; /* Adjust as necessary */
}
body .navbar.visible {
  top: 0; /* Position the navbar at the top */
  background: rgb(255, 255, 255); /* Fully opaque background */
  min-height: 70px; /* Adjust as necessary */
}
body .navbar-brand svg .st0 {
  fill: #404041;
}
body .navbar-brand svg .st1 {
  fill: #F1592A;
}
body.submenu-on .navbar-brand svg .st0, body.scroll_updown .navbar-brand svg .st0 {
  fill: #404041 !important;
}
body.scroll_updown .navbar.nav_up {
  top: -100px;
  background-color: rgba(255, 255, 255, 0);
}
body.scroll_updown .navbar {
  top: 0;
  min-height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

#main-visual .swiper-slide {
  overflow: hidden;
}
#main-visual .swiper-slide .page-header .bg {
  transform: scale(1);
  transition-delay: 0.3s;
  transition: 10s ease-in;
  background-size: cover;
}
#main-visual .swiper-slide.swiper-slide-active .page-header .bg {
  transform: scale(1.1);
}
#main-visual .swiper-slide .title {
  color: #fff;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: -0.0083em;
}
#main-visual .swiper-slide h4 {
  font-weight: 200;
  margin-top: 30px;
  font-size: 22px;
  font-family: "Raleway", "Noto Sans KR";
}

.dotani {
  background: linear-gradient(45deg, #ea5520, #c73400);
  background-size: 300% 300%;
  animation: gradientAnimation 3s ease infinite;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.morebtn {
  font-size: min(3.5vw, 26px);
  min-width: 115px;
  max-width: 240px;
  line-height: 2.5;
  padding-right: 25px;
  color: #111;
  border-bottom: 1px solid #111;
  position: relative;
  display: block;
  text-align: left;
  text-decoration: none;
}
.morebtn.text-white {
  color: white;
  border-bottom-color: white;
}
.morebtn.text-white:after {
  background-color: white;
}
.morebtn:after {
  content: "";
  display: block;
  width: 1px;
  height: 1rem;
  background-color: #111;
  position: absolute;
  bottom: -3px;
  right: 4.8px;
  transform: rotate(-43deg);
}

@keyframes keyvisualAni {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.observedom.aniaction .masked-text-ani::after {
  animation-name: fillText;
}
.observedom .masked-text-ani::after {
  animation-name: backText;
}

.masked-text-ani {
  font-family: "Montserrat", "Pretendard";
  line-height: 0.75;
  position: relative;
}
.masked-text-ani::after {
  content: attr(data-text);
  animation-duration: 3s;
  animation-fill-mode: forwards;
  background: linear-gradient(90deg, #ea5520 0%, #ea5520 50%, transparent 50%, transparent 100%);
  background-size: 200%; /* 배경 크기를 200%로 설정 */
  background-clip: text; /* 텍스트만 배경에 클립 */
  -webkit-background-clip: text; /* 사파리 호환성을 위한 설정 */
  color: transparent; /* 텍스트 자체는 투명 처리 */
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}
.masked-text-ani::before {
  content: attr(data-text);
  /* 가상 요소로 텍스트 복제 */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: rgba(191, 185, 185, 0.3098039216);
}

@keyframes fillText {
  0% {
    background-position: 100%; /* 배경을 오른쪽에 위치 */
  }
  100% {
    background-position: 0%; /* 배경을 왼쪽으로 이동 */
  }
}
@keyframes backText {
  0% {
    background-position: 0%; /* 배경을 오른쪽에 위치 */
  }
  100% {
    background-position: 100%; /* 배경을 왼쪽으로 이동 */
  }
}
.footer.observedom .masked-text-ani.fc_fff {
  color: transparent;
  line-height: 1;
}
.footer.observedom .masked-text-ani.fc_fff:after {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, transparent 50%, transparent 100%);
}