body{
&.index-page {
  //로고
    .navbar-brand{
      svg{
       
        .st0{
          fill: white  ;
        }
      }
    }
    .navbar{
       .menus > ul > li > a, 
       .utils > ul li.item > a {
        color:white;
       }
      
    }
    .vh-100{
      max-height:1024px;
    }
  }
}

// 스와이퍼 프로그래스 서클
#animatedCircle.ani {
  animation: dash 10s ease forwards;
}

@keyframes dash {
  from {
      stroke-dashoffset: 113.097; /* 초기 상태, 원이 비어있음 */
  }
  to {
      stroke-dashoffset: 0; /* 원이 채워짐 */
  }
}
//메인 스와이퍼 페이지네이션
#main-visual,
#brandSection{
  //fraction
  .swiper-pagination{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 83px !important;
      color: white;
      font-size: 18px;
      font-weight: 600;
  }
}

.partner_list {
  padding: 60px 0;

  .partner_marquee {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: 30px 0;

    div {
      display: flex;
      height: 100%;
      position: absolute;
      overflow: hidden;
    }

    &#partner_marquee1 div {
      width: 7560px;
      animation: partner_marquee1 45s linear infinite;
      left: 0;
    }

    &#partner_marquee2 div {
      width: 7560px;
      animation: partner_marquee2 45s linear infinite;
      right: 0;
    }

    span {
      height: 100%;
      width: 270px;
      height: 220px;
      position: relative;
      display: block;
    }

    &#partner_marquee1 {
      div {
        
        span:nth-of-type(14n - 13) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_01_sk.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 12) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_02_po.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 11) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_03_hh.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 10) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_04_gs.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 9) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_05_lo.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 8) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_06_jw.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 7) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_07.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 6) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_08.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 5) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_09.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 4) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_10.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 3) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_11.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 2) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_12.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 1) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_13.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_14.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }
      }
    }

    &#partner_marquee2 {
      div {
        span:nth-of-type(14n - 13) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_15.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 12) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_16.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 11) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_17.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 10) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_18.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 9) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_19.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 8) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_20.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 7) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_21.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 6) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_22.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 5) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_23.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 4) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_24.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 3) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_25.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 2) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_26.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n - 1) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_27.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }

        span:nth-of-type(14n) {
          background: url("https://www.nexsmartmedia.co.kr/resources/img/main/logo_28.png") no-repeat 50% 50%;
          background-size: auto 100%;
        }
      }
    }
  }

  @keyframes partner_marquee1 {
    0% {
      left: 0;
    }
    100% {
      left: -3780px;
    }
  }

  @keyframes partner_marquee2 {
    0% {
      right: 0;
    }
    100% {
      right: -3780px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0 0 10vw;

    .partner_marquee {
      height: 176px;

      #partner_marquee1 div {
        width: 6048px;
        animation: partner_marquee1 45s linear infinite;
        left: 0;
      }

      #partner_marquee2 div {
        width: 6048px;
        animation: partner_marquee2 45s linear infinite;
        right: 0;
      }

      #partner_marquee1 span,
      #partner_marquee2 span {
        width: 216px;
        height: 176px;
      }
    }

    @keyframes partner_marquee1 {
      0% {
        left: 0;
      }
      100% {
        left: -3024px;
      }
    }

    @keyframes partner_marquee2 {
      0% {
        right: 0;
      }
      100% {
        right: -3024px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .partner_marquee {
      height: 132px;

      &#partner_marquee1 div {
        width: 4536px;
        animation: partner_marquee1 45s linear infinite;
        left: 0;
      }

      &#partner_marquee2 div {
        width: 4536px;
        animation: partner_marquee2 45s linear infinite;
        right: 0;
      }

      &#partner_marquee1 span,
      &#partner_marquee2 span {
        width: 162px;
        height: 132px;
      }
    }

    @keyframes partner_marquee1 {
      0% {
        left: 0;
      }
      100% {
        left: -2268px;
      }
    }

    @keyframes partner_marquee2 {
      0% {
        right: 0;
      }
      100% {
        right: -2268px;
      }
    }
  }
}


#brandSection{
  .brandSectionWrap{
    height: 34vw;
    min-height:600px;
    max-height:750px; 
    &.oemitems{
      height:auto;
      min-height:auto;
      max-height: none; 
      @media (max-width:1024px) {
        // height:100vw;
        
      }
    }
    iframe{
      position: absolute;
      top: 0;
      left: 50%;
      height: 58vw;
      width: 400%;
      transform: translateX(-50%);

    }
    &:after{
      content: "";
      background:rgba(0,0,0,.65);
      top:0; left:0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  
}


#brandSection{

  .ib_list {
    // Add styles for ib_list here
    li{
      position: relative;
display: inline-block;
font-size: 22px;
font-weight: 600;
line-height: 40px;
letter-spacing: -1px;
color: #eeeeee;
padding-right: 20px;
margin-right: 20px;
      &:after {
        content: '';position: absolute;
        top: 50%;right: 0;
        background: rgba(255, 255, 255, 0.3);
        width: 1px;height: 50%;
        transform: translateY(-50%);
      }
      &:last-child:after {display: none;}
    }
    
  }
  .content04 {
   

    

    .visual_box {
      display: flex;
      flex-direction: row-reverse;

      .vbCtt {
        display: block;position: relative;overflow:hidden;
        &:hover{
          a {background: rgba(0,0,0,.7);}
          .prjName {opacity: 1;transform: translateY(0);}
          img {transform: scale(1.1);}
        }
        a {transition-duration: .3s;}
        .prjName {position: absolute;bottom: 50px;right: 50px;font-size: 20px;color: #fff;line-height: 28px;text-align: right;font-weight: 600;opacity: 0;transform: translateY(15px);transition-delay: .1s;transition-duration: .3s;}
        img {width: 100%;transform: scale(1);transition-duration: .5s;}
      }



      .bg01 {
        width: 50%;
      }

      .bg02 {
        width: 50%;
      }
    }
  }
}







.main_contents_OEM{
  height:505px;
  .main_contents_OEM_mask{
      
      .main_contents_OEM_slide{
        
        border:1px solid white;
        max-width:400px;  
        padding:20px;
        text-align: center;   

        .fancybox-image{
          max-height:400px;
        
        }
      }
  }
}























